.formulario {
    width: 80%;
}

.formulario h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.formulario-imc {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
}

.formulario-imc label {
    padding: 10px 0;
}

.input-formulario {
    width: 300px;
    border: 1px solid;
    border-radius: 3px;
}

.titulo-tabela {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    margin: 0 130px;
}